<div id="logo"></div>
<div id="heading">Welcome to Cleveland Clinic
</div>
<div id="dischargetext">
    <div id="time"></div>
    <div id="date"></div>
    <p id="room"></p>
</div>
<div id="instructions">Press Ch +/- to Watch TV</div>
<div id="revision">
    <span id="app-version"></span>
</div>
