<div class="page-title">{{i18n 'My Education'}}</div>
<div id="header">
    <div class="logo-small topleft"></div>
    <div id="heading1">
        <p class="text-large"></p>
    </div>
    <div id="heading2">
        <p class="text-large"></p>
    </div>
</div>
<div id="content">
    <div id="menu">
        <div id="buttons" class="major widget-region">
            <div class="widget button-group">
                <a class="back-button" href="#">{{i18n 'Back'}}</a>
                <a class="btn btn-block active" href="#" id="restart">{{i18n 'Play from Beginning'}}</a>
                <a class="btn btn-block" href="#" id="resume">{{i18n 'Resume Watching'}}</a>
                <!--<a class="btn btn-block" href="#" id="add">Bookmark This Video</a>
                <a class="btn btn-block" href="#" id="remove">Remove Bookmark</a>-->
            </div>
        </div>
        <div class="minor">
            <div class="menu-tab" style="display: block;">
                <div class="sub-header"></div>
                <div class="sub-content layout1">
                <div class="sub-content layout1">
                    <div class="sub-text1"><p>{{i18n 'These videos have been specifically chosen for you by your care team.'}} <br><br>{{i18n 'Press SELECT on Play From Beginning to watch.'}} </p>
                        <br>
                        <br>

                    </p></div>
                    <div class="sub-image1"></div>
                    <div class="sub-image2"></div>
                </div>
                <div class="sub-footer"></div>
            </div>
        </div>
    </div>
</div>
<div class="menufooter-img"></div>
<div class="menufooter">
    <p>{{i18n 'to go HOME'}}</p>
</div>