<div id="logo">
</div>
<div id="remote">
</div>
<div id="heading">{{i18n "Welcome to "}}Cleveland Clinic
</div>
<div id="instruction">
    <p class="text1 english">Use your pillow speaker to move around the screen.
        <br><br>
        Press Select to Explore each area.<br>
        <br>
    </p>
    <p class="text1 spanish" style="display:none;">Utilice el altavoz almohada para desplazarse por la pantalla.
        <br><br>
        Pulse Seleccionar para explorar cada área.<br>
        <br>
    </p>
</div>
<div id="aboutus">
    <div id="image">
    </div>
</div>
<div id="buttons" class="widget-region">
    <div class="widget button-group">
        <a class="btn btn-block active" href="#" id="english">English</a><br>
        <a class="btn btn-block" href="#" id="spanish">Espa&ntilde;ol</a>
        <a class="btn btn-block" href="#educationvideo/razuna-vid-02EB83A7221146A3B26CB1490308E481" id="watchvideo">{{i18n "Watch our Welcome Video"}}</a>
    </div>
</div>