<div class="page-title ellipsis"></div>
<div id="header">
    <div class="logo"></div>
    <div id="heading1">
        <p class="text-medium"></p>
    </div>
    <div id="heading2">
        <p class="text-large ellipsis"><br>{{i18n 'Use Right & Left keys to scroll movies in this category.'}}</p>
    </div>

    <div id="date"></div>

</div>
<div id="content">
    <div id="menu" class="widget-region">
    </div>
</div>