<div class="page-title"></div>
<div id="header">
    <div class="logo-small topleft"></div>
    <div id="heading1">
        <p class="text-large"></p>
    </div>
    <div id="heading2">
        <p class="text-large"></p>
    </div>
</div>
<div id="content">
    <div id="menu">
        <div id="bookmarks" class="major widget-region">
        </div>
        <div class="minor">
            <div class="menu-tab" style="display: block;">
                <div class="sub-header"></div>
                <div class="sub-content layout1">
                    <div class="sub-text1"><p>{{i18n 'These videos have been specifically chosen for you by your care team.'}}
                        <br>
                        <br>
                        {{i18n 'Press SELECT to watch a video.'}}
                    </p></div>
                    <div class="sub-image1"></div>
                    <div class="sub-image2"></div>
                </div>
                <div class="sub-footer"></div>
            </div>
        </div>
    </div>
</div>
<div class="menufooter-img"></div>
<div class="menufooter">
    <p>{{i18n 'to go HOME'}}</p>
</div>