<div id="header">
    <div class="logo"></div>
    <div id="patient">
        <p>{{i18n 'Welcome'}}, <span id="patient-name"></span></p>
        <p>{{i18n 'Room'}} <span id="room-number"></span> - {{i18n 'Phone'}}: <span id="room-phone"></span></p>
    </div>
    <div id="date">
    </div>

</div>
<div id="content">
    <div id="menu" class="widget-region">
    </div>
</div>
<div id="revision">
    <span id="app-version"></span>
</div>
<div id="dialog" class="widget-region"></div>