<div class="page-title">Screen Title</div>
<div id="header">
    <div class="logo-small topleft"></div>
    <div id="heading1">
        <p class="text-large"></p>
    </div>
    <div id="heading2">
        <p class="text-large"></p>
    </div>
</div>
<div id="content">
    <div id="menu" class="widget-region">
    </div>

    <div id="temp-notification" style="display: none"><p><br><br>{{i18n 'The temperature of your room has been adjusted to' }} <span id="temp-notification-value"></span>.<br><br>{{i18n 'Please allow a few minutes for the change in room temperature to take place.'}} </p> </div>

    <div id='temp-status' style="display: none">
        <span id='temp-value'></span>
        <span id='temp-label'>{{i18n 'Current Temperature'}}</span>
    </div>

</div>
<div class="menufooter-img"></div>
<div class="menufooter">
    <p>{{i18n 'to go HOME'}}</p>
</div>
