<div class="osd-view" id="channel"></div>
<div class="osd-view logo-small topleft"></div>
<div id="channel-label">
    <p id="loadinginfo"></p>
</div>
<div class="osd-view" id="mask">
    <div id="channelinfo"></div>
    <div id="icon"></div>
    <p id="masktext"></p>
</div>

<div class="osd-view" id="gridinfo" style="">
    <div id="current">
        <p class="channel"></p>
        <p class="title"></p>
        <p class="episode ellipsis"></p>
        <p class="time"></p>
        <p class="description"></p>
        <p class="message">{{i18n 'Press MENU for More Features'}}</p>
        <p class="date"></p>
    </div>
</div>

<div class="" id="gridpanel-wrapper">
</div>