<div id="header">
    <div id="iframeheader">
        <p>{{i18n "Use your Up/Down keys to scroll;  EXIT key returns to Visitor Guide."}}</p>
    </div>
</div>
<div id="frame-wrapper">
    <iframe id="page-iframe"></iframe>
</div>
<div id="mask">
    <div id="icon"></div>
</div>
