/*****************************************************************************/
/* Screen resolution, default background */
body {
    width: 1280px;
    height: 720px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #FFF url(../images/bk_home.jpg) top left no-repeat;
}

body.test {
    overflow: scroll;
}

/* Page size. Sometimes page is smaller than fullscreen with a permanent navigation bar on the left */
div.screen {
    width: 1280px;
    height: 720px;
    margin: 0;
    padding: 0;
}

/* scrollbar */
::-webkit-scrollbar {
    display: none;
}

/*****************************************************************************/

/* logo */
div.logo, div.logo-large {
    background: url(../images/logo_large.png) top left no-repeat;
    width: 215px;
	height: 50px;
    display: block;
    float: left;
	margin: 26px 0 0 60px;
}

div.logo-small {
    background: url(../images/logo_small.png) top left no-repeat;
    width: 215px;
	height: 50px;
    /*height: 37px;*/
    display: block;
    float: left;
}

div.logo-tiny {
    background: url(../images/logo_small.png) top left no-repeat;
    width: 300px;
    height: 66px;
    display: block;
    float: left;
}

div.logo.topleft, div.logo-large.topleft {
	margin: 0px 0 0 0px;
}

div.logo-small.topleft {
    margin: 30px 0 0 64px;
}

div.logo-tiny.topleft {
    margin: 26px 0 0 60px;
	position: absolute;
}

div.logo-small.bottomright {
    margin: 616px 0 0 890px;
}

div.logo-small.topright {
    margin: 68px 0 0 890px;
}

div.page-title {
    position: absolute;
    font-size: 30px;
    font-weight: bold;
    display: block;
    text-align: center;
}

div.educ-downarrow {
    background: url(../images/arrow_down-ltblue.png) no-repeat;
    width: 32px;
    height: 32px;
    display: block;
    margin: 450px 0 0 480px;
    z-index: 1;
}

/*div.datetime {
	width: 420px;
	height: 30px;
	top: 106px;
	left: 822px;
	position: absolute;
	display: inline-block;
	float: left;
	text-align: right;
}

div.datetime text-small, p.datetime text-small {
	line-height: 28px;
	color: #04090E;
	font-weight: 600;
}*/

/*****************************************************************************/
/* Text */

/* Default text attributes white: #F0F4F5 */
div, p, span, a {
	color: #FFFFFF;
	font-family: Arial, "Bitstream Vera Sans", sans-serif;
	font-weight: bold;
	font-size: 30px;
	font-style: normal;
	text-shadow: 2px 2px 2px hsla(0,0%,0%,0.40);
}

/* Text colors */
div.text-color-2, p.text-color-2, span.text-color-2, a.text-color-2 {
    color: #FFFF92;
}

div.text-color-3, p.text-color-3, span.text-color-3, a.text-color-3 {
	color: #104969;
	text-shadow: 0px 0px;	
}

div.text-color-4, p.text-color-4, span.text-color-4, a.text-color-4 {
    color: #000307;
    font-size: 30px;
    padding-left: 0px;
}

div #nam,
div.text-color-5, p.text-color-5, span.text-color-5, a.text-color-5 {
	color: #DCF5A8;
}


/* Medication side effects text */
div.text-color-6, p.text-color-6, span.text-color-6, a.text-color-6 {
	color: #DCF5A8;
	padding-left: 26px;
	padding-right: 10px;
	font-size: 26px;	
}

/* Medication warning signs text */
div.text-color-6b, p.text-color-6b, span.text-color-6b, a.text-color-6b {
	color: #00275C;
	padding-left: 26px;
	padding-right: 10px;
	background-color: #FBF49E;
	font-size: 26px;
	text-shadow: 0px 0px;
}

/* select a Pharmacy list */
div.text-color-7, p.text-color-7, span.text-color-7, a.text-color-7 {
	color: #FDFDFD;
	padding-left: 0px;
	padding-top: 4px;
	padding-bottom: 4px;
	background-color: #80B63E;
	text-shadow: 2px 2px 2px rgba(0,0,0,0.70);
	-webkit-box-shadow: 2px 2px 2px rgba(0,0,0,0.70);
	box-shadow: 2px 2px 2px rgba(0,0,0,0.70);
	line-height: 28px;
}
/* PHONE NUMBER TEXT */
div.text-phone, p.text-phone, span.text-phone, a.text-phone {
	color: #FDFDFD;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 0px;
	padding-bottom: 0px;
	background-color: #065EAB;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.70);
	line-height: 72px;
	font-size: 60px;
	border: 4px solid #217B33;
	letter-spacing: 4px;
}

/* Text sizes */
div.text-xxsmall, p.text-xxsmall, span.text-xxsmall, a.text-xxsmall {
    font-size: 18px;
    font-weight: normal;
}

div.text-xsmall, p.text-xsmall, span.text-xsmall, a.text-xsmall {
	font-size: 22px;
	font-weight: bold;
	text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.70);
	line-height: 20px;
}

div.text-small, p.text-small, span.text-small, a.text-small {
    font-size: 26px;
    /*font-weight: bold;*/
}

div.text-med, p.text-med, span.text-med, a.text-med {
    font-size: 30px;
    line-height: 46px;
    font-weight: bold;
    /*color: #FBFBFC;*/
    letter-spacing: .5px;
}

div.text-edtitles, p.text-edtitles, span.text-edtitles, a.text-edtitles {
	font-size: 30px;
	line-height: 46px;
	font-weight: bold;
	background-color: #86c3e2;
	letter-spacing: .5px;
	padding-right: 140px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #344552;
	text-shadow: 0 0;
}
div.text-pages, p.text-pages, span.text-pages, a.text-pages {
	padding-left: 580px;
	font-size: 26px;
	font-weight: bold;
	color: #F6C38B;
}
div.text-ecbdhead, p.text-ecbdhead, span.text-ecbdhead, a.text-ecbdhead {
	padding-left: 0px;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
}
div.text-large, p.text-large, span.text-large, a.text-large {
    font-size: 32px;
    font-weight: bold;
    color: #F9F9F9;
    letter-spacing: 0px;
}

div.text-xlarge, p.text-xlarge, span.text-xlarge, a.text-xlarge {
    font-size: 42px;
    font-weight: bold;
}

div.text-xxlarge, p.text-xxlarge, span.text-xxlarge, a.text-xxlarge {
    font-size: 60px;
    font-weight: bold;
}

/* Text style overwrite */
div.text-bold, p.text-bold, span.text-bold, a.text-bold {
    font-weight: bold;
    font-style: normal;
}

div.text-regular, p.text-regular, span.text-regular, a.text-regular {
    font-weight: normal;
    font-style: normal;
}

div.text-italic, p.text-italic, span.text-italic, a.text-italic {
    font-weight: normal;
    font-style: italic;
}

/* Bullets */

ul li{
    list-style-type: disc;
    list-style-position: inside;
    padding: 0px 0 0px 30px;
    text-indent: -1em;
	line-height: 28pt;
	padding-right: 25px;
}

ul.statements  li {
    list-style-type: disc;
    padding: 0px 0 0px 30px;
    text-indent: -1em;
    line-height: 28pt;
    padding-right: 25px;
}
/* Numbered List (how to make a video call) */
ol li{
    list-style-position: inside;
    padding: 0px 0 0px 30px;
    text-indent: -1em;
	line-height: 28pt;
	padding-right: 25px;
}

/*****************************************************************************/
/* Buttons and links */
a {
    text-decoration: none;
    color: #F0F4F5;
}

a.active {
	background-color: rgba(33,124,50,1.00);
	/*border-radius: 6px;*/
}

a.button {
    background-color: #155480;
    /*border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;*/
    padding-top: 5px;
    padding-right: 10px;
    padding-left: 0px;
    padding-bottom: 5px;
    color: #ffffff;
}

a.button.active {
	background-color: rgba(128,182,62,1.00);
}

a.button.color2 {
    background-color: #D54D00;
}

a.button3 {
	background-color: #3182BA;
	padding-bottom: 6px;
	padding-top: 6px;
	padding-left: 6px;
	padding-right: 6px;
	-webkit-box-shadow: 3px 3px 5px 1px rgba(2,2,2,0.40);
	box-shadow: 3px 3px 5px 1px rgba(2,2,2,0.40);
}
a.button3.active {
    background-color: rgba(128,182,62,1.00);
}

a.button-3:active, a.buttoncolor-3.active {
	background-color: #CC3370;	
	/*background-color: #3399cc;*/
}

a.button4 {
	background-color: #3182BA;
	padding-bottom: 6px;
	padding-top: 6px;
	padding-left: 6px;
	padding-right: 6px;
	-webkit-box-shadow: 3px 3px 5px 1px rgba(2,2,2,0.40);
	box-shadow: 3px 3px 5px 1px rgba(2,2,2,0.40);
	width: 300px;
}
a.button4.active {
    background-color: rgba(128,182,62,1.00);
}

a.button-4:active, a.buttoncolor-3.active {
	background-color: #CC3370;	
	/*background-color: #3399cc;*/
}

/* special shapes */

.arrow-left {
    display: inline-block;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 20px 20px 20px 0;
    border-color: transparent #ffffff transparent transparent;
}

.arrow-right {
    display: inline-block;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 20px 0 20px 20px;
    border-color: transparent transparent transparent #ffffff;
}
