.widget.dialog {
    background: rgba(0, 0, 0, 0.8);
    left: 0;
    top: 0;
    width: 1280px;
    height: 720px;
    font-size: 28px;
    position: fixed;
    display: block;
    z-index: 99999;
    -webkit-box-shadow: 6px 6px 8px #313232;
    box-shadow: 6px 6px 8px #313232;
}

.widget.dialog #langs {
    background: url(../images/bk_ed-popup.png) no-repeat;
    width: 1102px;
    height: 526px;
    font-size: 28px;
    position: absolute;
    display: inline-block;
    z-index: 0;
    /*-webkit-box-shadow: 6px 6px 8px #313232;
    box-shadow: 6px 6px 8px #313232;*/
    left: 89px;
    top: 100px;
}

.widget.dialog div.logo, div.logo-large {
    background: url(../images/logo_large.png) top left no-repeat;
    width: 336px;
    height: 56px;
    display: block;
    float: left;
    margin: 20px 0 0 30px;
}

.widget.dialog div.logo-small {
    background: url(../images/logo_small.png) top left no-repeat;
    width: 215px;
    height: 37px;
    display: block;
    float: left;
}

.widget.dialog div.logo-small.topleft {
    margin: 30px 0 0 64px;
}

.widget.dialog div.logo-small-popup {
    background: url(../images/logo_small.png) top left no-repeat;
    width: 215px;
    height: 50px;
    display: block;
    position: absolute;
    /*float: left;*/
    left: 40px;
    top: 30px;
}

.widget.dialog #heading {
    width: 1000px;
    height: 80px;
    display: inline-block;
    position: absolute;
    left: 175px;
    top: 138px;
    text-align: center;
}

.widget.dialog #regtext {
    width: 420px;
    height: 200px;
    display: inline-block;
    position: absolute;
    left: 120px;
    top: 200px;
}

.widget.dialog #regtext p {
    min-height: 22px;
    line-height: 28px;
    margin: 0px 0px 0px 0px;
    text-align: left;
    position: relative;
    font-weight: bold;
    font-size: 26px;
    color: #0F4C8B;
}

.widget.dialog #regtext p.text1 {
    color: rgba(252, 254, 254, 1.00);
    text-align: left;
}

.widget.dialog #regtext p.text2 {
    color: rgba(246, 242, 115, 1.00);
    text-align: left;
}

.widget.dialog #regtext2 {
    width: 570px;
    height: 420px;
    display: inline-block;
    position: absolute;
    left: 590px;
    top: 160px;
}

.widget.dialog #regtext2 p {
    min-height: 22px;
    line-height: 24px;
    margin: 0px 0px 0px 0px;
    text-align: left;
    position: relative;
    font-weight: bold;
    font-size: 22px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .80);
}

.widget.dialog #regtext2 p.text4 {
    color: rgba(252, 254, 254, 1.00);
    text-align: left;
    font-size: 40px;
    line-height: 50px;
}

.widget.dialog #instruction {
    width: 544px;
    height: 338px;
    display: inline-block;
    left: 600px;
    position: absolute;
    top: 180px;
    text-align: right;
}

#home-my-care-my-medication .widget.dialog #instruction {
    position: initial;
}

.widget.dialog #instruction p {
    min-height: 30px;
    line-height: 30px;
    margin: 0px 0px 0px 0px;
    text-align: left;
    position: relative;
    font-weight: bold;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.50);
}

.widget.dialog #instruction p.text1 {
    color: rgba(252, 254, 254, 1.00);
    text-align: left;
    line-height: 32px;
}

.widget.dialog #instruction p.text2 {
    color: #DCF5A8;
    text-align: left;
    line-height: 32px;
}

.widget.dialog #instruction p.text2-sm {
    color: rgba(246, 242, 115, 1.00);
    text-align: left;
    font-size: 22px;
}

.widget.dialog #instruction p.text3 {
    color: rgba(189, 239, 254, 1.00);
    text-align: left;
}

.widget.dialog #instruction p.text4 {
    color: rgba(252, 254, 254, 1.00);
    text-align: left;
    font-size: 40px;
    line-height: 50px;
}


.widget.dialog #instruction .regtext {
    width: 420px;
    height: 200px;
    display: inline-block;
    position: absolute;
    left: 120px;
    top: 205px;
    text-shadow: none;
}

.widget.dialog #instruction .regtext p {
    min-height: 22px;
    line-height: 28px;
    margin: 0px 0px 0px 0px;
    text-align: left;
    position: relative;
    font-weight: bold;
    font-size: 26px;
    color: #0F4C8B;
    text-shadow: none;
}

.widget.dialog #instruction .regtext p.text1 {
    color: rgba(252, 254, 254, 1.00);
    text-align: left;
}

.widget.dialog #instruction .regtext p.text2 {
    color: rgba(246, 242, 115, 1.00);
    text-align: left;
}

.widget.dialog #instruction .regtext2 {
    width: 570px;
    height: 420px;
    display: inline-block;
    position: absolute;
    left: 590px;
    top: 160px;
}

.widget.dialog #instruction .regtext2 p {
    min-height: 22px;
    line-height: 24px;
    margin: 0px 0px 0px 0px;
    text-align: left;
    position: relative;
    font-weight: bold;
    font-size: 22px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .80);
}

.widget.dialog #buttons {
    width: 420px;
    height: 172px;
    font-size: 36px;
    margin: 300px 0px 0px 54px;
    display: inline-block;
    position: absolute;
    left: 60px;
    top: 0px;
}

.widget.dialog #buttons .bottom{
    top: 115px;
}

.widget.dialog #buttons a {
    display: block;
    position: relative;
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
    font-size: 36px;
    text-shadow: 2px 2px 2px rgba(51, 51, 51, 0.50);
    text-decoration: none;
    color: rgba(252, 252, 252, 1.00);
    background-color: #A5BCCC;
    width: 420px;
    min-height: 50px;
    margin-bottom: 20px;
    border-radius: 6px;
    box-shadow: 6px 4px 6px rgba(51, 51, 51, 0.50);
    -webkit-box-shadow: 6px 4px 6px rgba(51, 51, 51, 0.50);
    padding: 0;
}

.widget.dialog #buttons a.active {
    background-color: #217C32;
}

.widget.dialog #buttons a.learnerButton,
.widget.dialog #buttons a.checkboxButton{
    text-align: left;
    font-size: 40px;
    line-height: 50px;
    color: #F9FAFB;
    font-size: 36px;
    background-color: #217C32;
    padding-left: 8px;
    padding-right: 8px;
    border: 4px solid #568FBB;
}

.widget.dialog #buttons a.checkboxButton {
    background: transparent;
    box-shadow: none;
    text-shadow: none;
    border: none;
    color: #11518F;
    font-size: 36px;
    font-weight: bold;
    padding-left: 48px;
}

.widget.dialog #buttons a.checkboxButton {
    background: transparent;
    box-shadow: none;
    text-shadow: none;
    border: none;
    color: #11518F;
    font-size: 36px;
    font-weight: bold;
    padding-left: 48px;
}
a.checkboxButton::before {
    content: " ";
    font-size: 36px;
    border: 4px solid #568FBB;
    background: #217c32;
    color: #ffffff;
    width: 36px;
    height: 36px;
    display: inline-block;
    text-align: center;
    margin: 3px 0 0 -48px;
    position: absolute;
    line-height: 36px;
}

a.checkboxButton.checked::before {
   content: "X";
}

.widget.dialog #buttons a.checkboxButton.active {
    background-color: #217C32;
    color : #ffffff;
}
