.screen.edsynopsis {

}

.screen.edsynopsis .background {
	width: 1280px;
	height: 720px;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background: url(../images/bk_default2.jpg) top left no-repeat;
	z-index: 1;
}

.screen.edsynopsis .page-title {
	left: 66px;
	top: 104px;
	width: 544px;
	height: 66px;
	z-index: 1;
	text-align: center;
	letter-spacing: 1px;
	color: #FCFCFC;
	line-height: 72px;
	/*background: url('../images/menubar_highlight.png') no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;*/
	background-size: cover;
	background-color: #217C32;
	border-top-right-radius: 120px 20px;
	border-top-left-radius: 120px 20px;
	font-weight: bold;
	overflow: hidden;
}

.screen.edsynopsis #header {
	width: 100%;
	height: 121px;
	position: absolute;
	background: url(../images/bk_secondary_gradient.png) top left no-repeat;
}

.screen.edsynopsis #header #heading1 {
	height: 100px;
	top: 270px;
	left: 109px;
	position: absolute;
	display: inline-block;
	float: left;
	width: 456px;
	z-index: 2;
}

.screen.edsynopsis #header #heading1 p {
	color: #FFFFFF;
}

.screen.edsynopsis #header #heading2 {
	width: 620px;
	height: 56px;
	top: 350px;
	left: 109px;
	position: absolute;
	float: left;
	z-index: 1;
}

.screen.edsynopsis #header #heading2 p {
	color: #FFFFFF;
	text-align: left;
	font-size: 28px;
	padding-top: 0px;
	font-weight: bold;
	text-shadow: 0 0 0;
}

div.menufooter {
	width: 260px;
	height: 40px;
	top: 665px;
	left: 140px;
	position: absolute;
	float: left;
	z-index: 2;
}

div.menufooter p {
	/*color: #E3CB90;*/
	color: #283F4B;
	text-shadow: 0 0;
}

div.menufooter-img {
	width: 50px;
	height: 34px;
	background: url(../images/btn_menu.png) top left no-repeat;
	top: 660px;
	left: 80px;
	position: absolute;
	display: inline-block;
	float: left;
	z-index: 2;
}

.screen.edsynopsis #content {
	width: 100%;
	height: 599px;
	top: 122px;
	position: absolute;
	left: 0px;
	background: url(../images/bk_default2.jpg) top left no-repeat;

}

.screen.edsynopsis #menu {

	width: 100%;
	height: 100%;
}

.screen.edsynopsis #menu .major {
	position: absolute;
	width: 544px;
	height: 472px;
	left: 66px;
	top: 36px;
	padding: 20px 0 0 0;
	box-shadow: 2px 2px 6px 0px #0C1E32;
	background-color: rgba(53,71,78,.80);
	/*border-bottom-right-radius: 20px 20px;
	border-bottom-left-radius: 20px 20px;*/
	-webkit-box-shadow: 2px 2px 6px 0px #0C1E32;
}

.screen.edsynopsis #menu .content-button-group {
	width: 100%;
	height: 100%;
}

.screen.edsynopsis ::-webkit-scrollbar {
	display: none;

}

.screen.edsynopsis #menu .major a {
	position: relative;
	display: block;
	height: 50px;
	margin-top: 10px;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	padding-top: 10px;
	padding-right: 5px;
	padding-left: 15px;
	padding-bottom: 5px;
	text-align: left;
	font-size: 30px;
	font-weight: bold;
	letter-spacing: .5px;
	color: #D2E5F4;
	/*border-radius: 8px;
    background-color: rgba(86,162,214,.90);*/
}

.screen.edsynopsis #menu .major a.back-button {
	/*  position: absolute;
    width: 292px;*/
	font-size: 26px;
	top: 0px;
	text-align: left;
	margin-bottom: 200px;
	color: #E3CB90;
	/*background-color: rgba(48,138,200,0.70);
    border-radius: 8px;*/

}

.screen.edsynopsis #menu .major a.selected {
	background: #217c32;
	color: #FCFCFC;
	-webkit-box-shadow: 3px 3px 5px #020202;
	box-shadow: 3px 3px 5px #020202;
	/*border-radius: 8px;*/
}

.screen.edsynopsis #menu .minor {
	position: absolute;
	width: 600px;
	height: 377px;
	top: 93px;
	left: 640px;

}

.screen.edsynopsis #menu .minor .arrow-button {
	display: block;
	position: absolute;
	width: 60px;
	height: 60px;
	top: 381px;
	border-radius: 30px;
	margin: 0;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.2);
}

.screen.edsynopsis #menu .minor .arrow-button.sub-page-prev {
	left: -19px;
}

.screen.edsynopsis #menu .minor .arrow-button.sub-page-next {
	right: 30px;
}

.screen.edsynopsis #menu .minor .arrow-button:hover {
	opacity: 1;
	cursor: pointer;
}

.screen.edsynopsis #menu .minor .arrow-left {
	position: absolute;
	display: block;
	top: 50%;
	left: 50%;
	margin: -20px 0 0 -15px;
}

.screen.edsynopsis #menu .minor .arrow-right {
	position: absolute;
	display: block;
	top: 50%;
	left: 50%;
	margin: -20px 0 0 -5px;
}


.screen.edsynopsis #menu .minor .back-tab {
	position: absolute;
	display: none;
}

.screen.edsynopsis #menu .minor .back-tab img {
	width: 100%;
	height: 100%;
	margin: 40px 0px 0px 25px;
}

.screen.edsynopsis #menu .minor .menu-tab {
	position: absolute;
	display: none;
	width: 610px;
}

.screen.edsynopsis #menu .minor .sub-page {
	display: none;
	position: relative;
	width: 100%;
	height: 100%;
}

.screen.edsynopsis #menu .minor .sub-header {
	margin-top: 0px;
	height: 30px;
	color: rgba(189, 239, 254, 1.00);
	/*color: #FFFF92;*/
}

.screen.edsynopsis #menu .minor .sub-footer {
	position: relative;
	height: 50px;
	color: #C0DDA3;
	text-align: center;
	top: -60px;
	left: -20px;
	text-shadow: 2px 2px 6px #000000;

}

.screen.edsynopsis #menu .minor .sub-content {
	margin-top: 2px;
	height: 420px;
	overflow: hidden;
	position: relative;
}

.screen.edsynopsis #menu .minor .sub-content p {
	margin-bottom: 2px;
	line-height: 40px;
	padding-top: 16px;
	padding-bottom: 0px;
	padding-right: 30px;

}

.screen.edsynopsis #menu .minor .sub-content .sub-image1 img, .screen.edsynopsis #menu .minor .sub-content .sub-image2 img {
	width: 100%;
	height: 100%;
}


/* Layout 1, text only */
.screen.edsynopsis #menu .minor .sub-content.layout1 {


}

.screen.edsynopsis #menu .minor .sub-content.layout1 .sub-text1 {
	display: inline-block;
	width: 100%;
	padding-top: 15px;


}

.screen.edsynopsis #menu .minor .sub-content.layout1 .sub-text2 {
	display: inline-block;
	width: 100%;
	padding-top: 10px;
}

.screen.edsynopsis #menu .minor .sub-content.layout1 .sub-image1 {
	display: none;
}

.screen.edsynopsis #menu .minor .sub-content.layout1 .sub-image2 {
	display: none;
}

/* Layout 2, text and image side by side */
.screen.edsynopsis #menu .minor .sub-content.layout2 {


}

.screen.edsynopsis #menu .minor .sub-content.layout2 .sub-text1 {
	display: inline-block;
	float: left;
	width: 520px;
	padding-top: 20px;
	padding-right: 10px;
	z-index: 2;
}

.screen.edsynopsis #menu .minor .sub-content.layout2 .sub-text2 {
	display: none;
}

.screen.edsynopsis #menu .minor .sub-content.layout2 .sub-image1 {
	display: inline-block;
	float: right;
	width: 260px;
	padding-top: 15px;
	padding-left: 0px;
	z-index: 1;
	right: 1px;
}

.screen.edsynopsis #menu .minor .sub-content.layout2 .sub-image2 {
	display: none;
}

/* Layout 2b, 2 text blocks side by side */
.screen.edsynopsis #menu .minor .sub-content.layout2b {


}

.screen.edsynopsis #menu .minor .sub-content.layout2b .sub-text1 {
	display: inline-block;
	float: left;
	width: 620px;
	padding-top: 20px;
	padding-right: 10px;
	z-index: 2;
}

.screen.edsynopsis #menu .minor .sub-content.layout2b .sub-text2 {
	display: inline-block;
	/*float: right;*/
	position: absolute;
	left: 400px;
	width: 360px;
	padding-top: 20px;
	padding-left: 0px;
	z-index: 1;
}

.screen.edsynopsis #menu .minor .sub-content.layout2b .sub-image1 {
	display: none;
}

.screen.edsynopsis #menu .minor .sub-content.layout2b .sub-image2 {
	display: none;
}

/* Layout 3, text and image aligns vertically */
.screen.edsynopsis #menu .minor .sub-content.layout3 {


}

.screen.edsynopsis #menu .minor .sub-content.layout3 .sub-text1 {
	float: none;
	height: 210px;
	width: 720px;
	padding-top: 20px;
}

.screen.edsynopsis #menu .minor .sub-content.layout3 .sub-text2 {
	display: none;
}

.screen.edsynopsis #menu .minor .sub-content.layout3 .sub-image1 {
	float: none;
	height: 220px;
}

.screen.edsynopsis #menu .minor .sub-content.layout3 .sub-image2 {
	display: none;
}

/* Layout 4, text 1 on top, text 2 and image at bottom */
.screen.edsynopsis #menu .minor .sub-content.layout4 {




}

.screen.edsynopsis #menu .minor .sub-content.layout4 .sub-text1 {
	display: block;
	float: none;
	height: 220px;
	padding-top: 20px;
}

.screen.edsynopsis #menu .minor .sub-content.layout4 .sub-text2 {
	float: left;
	width: 500px;
	height: 200px;
}

.screen.edsynopsis #menu .minor .sub-content.layout4 .sub-image1 {
	float: left;
	width: 240px;
	height: 200px;
}

.screen.edsynopsis #menu .minor .sub-content.layout4 .sub-image2 {
	display: none;
}

/* Layout 5, text overlays image */
.screen.edsynopsis #menu .minor .sub-content.layout5 {


}

.screen.edsynopsis #menu .minor .sub-content.layout5 .sub-text1 {
	display: block;
	position: absolute;
	height: 225px;
	width: 760px;
	top: 20px;
	left: 10px;
	padding: 15px;
	z-index: 1;
	background: rgba(0, 0, 0, 0);
}

.screen.edsynopsis #menu .minor .sub-content.layout5 .sub-text2 {
	display: none;
}

.screen.edsynopsis #menu .minor .sub-content.layout5 .sub-image1 {
	width: 100%;
	height: 100%;
}

.screen.edsynopsis #menu .minor .sub-content.layout5 .sub-image2 {
	display: none;
}

/* Layout 6, ONLY an image (map) */
.screen.edsynopsis #menu .minor .sub-content.layout6 {




}

.screen.edsynopsis #menu .minor .sub-content.layout6 .sub-text1 {
	display: none;
}

.screen.edsynopsis #menu .minor .sub-content.layout6 .sub-text2 {
	display: none;
}

.screen.edsynopsis #menu .minor .sub-content.layout6 .sub-image1 {
	width: 100%;
	height: 100%;
	padding-top: 20px;
}

.screen.edsynopsis #menu .minor .sub-content.layout6 .sub-image2 {
	display: none;
}

/* Layout 7, EDUCATION LIBRARY */
.screen.edsynopsis #menu .minor .sub-content.layout7 {


}

.screen.edsynopsis #menu .minor .sub-content.layout7 .sub-text1 {
	display: inline-block;
	width: 100%;
	padding-top: 20px;
	font-size: 32px;
}

.screen.edsynopsis #menu .minor .sub-content.layout7 .sub-text2 {
	display: inline-block;
	width: 100%;
	padding-top: 10px;
}

.screen.edsynopsis #menu .minor .sub-content.layout7 .sub-image1 {
	width: 32px;
	height: 32px;
	margin: -20px 0 0 0px;
}

.screen.edsynopsis #menu .minor .sub-content.layout7 .sub-image2 {
	display: none;
}

