body.ehospital {
    background: transparent;
}

.screen.ehospital {
    background: #ffffff;
}

.screen.ehospital .logo-large.topleft {
    position: absolute;
    top: 80px;
    left: 80px;
}

.screen.ehospital #ehospital {
    display: block;
    position: absolute;
    top: 280px;
    left: 340px;
    width: 600px;
    font-size: 100px;
    font-weight: bold;
    text-align: center;
    text-shadow: none;
    color: #459fd3
}

.screen.ehospital #ehospital span {
    display: inline-block;
    background: #459fd3;
    border-radius: 60px;
    font-size: 110px;
    width: 120px;
    line-height: 120px;
    text-align: center;
    text-shadow: none;
    color: #ffffff;
}