.screen.movies {
}
.screen.secondary .background {
	width: 1280px;
	height: 720px;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background: url(../images/bk_default2.jpg) top left no-repeat;
	z-index: 1;

}
.screen.movies .page-title {
	left: 66px;
	top: 104px;
	width: 344px;
	height: 66px;
	z-index: 1;
	text-align: center;
	letter-spacing: 1px;
	color: #FCFCFC;
	line-height: 72px;
	/*background: url('../images/menubar_highlight.png') no-repeat;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;*/
	background-size: cover;
	background-color: #217C32;
	border-top-right-radius: 120px 20px;
	border-top-left-radius: 120px 20px;
	font-weight: bold;
	box-shadow: 3px 0px 6px 0px rgba(3,3,3, .3);
	text-shadow: 2px 2px 6px rgba(3,3,3, .8);
}

.screen.movies #header {
	width: 100%;
	height: 121px;
	position: absolute;
	background: url(../images/bk_secondary_gradient.png) top left no-repeat;
}

.screen.movies #header #heading1 {
	height: 100px;
	top: 75px;
	left: 436px;
	position: absolute;
	display: inline-block;
	float: left;
}

.screen.movies #header #heading1 p {
	color: #45466D;
}

.screen.movies #header #heading2 {
	width: 803px;
	height: 56px;
	top: 53px;
	left: 454px;
	position: absolute;
	float: left;
	z-index: 1;
}

.screen.movies #header #heading2 p {
	color: #323334;
	text-align: left;
	font-size: 28px;
	padding-top: 0px;
	font-weight: 600;
	text-shadow: 0 0 0;
}
div.menufooter {
	width: 260px;
	height: 40px;
	top: 665px;
	left: 140px;
	position: absolute;
	float: left;
	z-index: 2;
}
div.menufooter p {
	/*color: #E3CB90;*/	
	color: #283F4B;
	text-shadow: 0 0;
}
div.menufooter-img {
	width: 50px;
	height: 34px;
	background: url(../images/btn_menu.png) top left no-repeat;
	top: 660px;
	left: 80px;
	position: absolute;
	display: inline-block;
	float: left;
	z-index: 2;
}

.screen.movies #content {
	width: 100%;
	height: 599px;
	top: 121px;
	position: absolute;
	left: 0px;
	background: url(../images/bk_default2.jpg) top left no-repeat;
}

.screen.movies #menu {
	width: 100%;
	height: 100%;
}

.screen.movies #menu .major {
	position: absolute;
	width: 344px;
	height: 472px;
	left: 66px;
	top: 36px;
	padding: 20px 0 0 0;
	box-shadow: 2px 2px 6px 0px #0C1E32;
	background-color: rgba(53,71,78,.80);
	/*border-bottom-right-radius: 20px 20px;
	border-bottom-left-radius: 20px 20px;*/
	-webkit-box-shadow: 2px 2px 6px 0px #0C1E32;
}

.screen.movies #menu .major a {
	position: relative;
	display: block;
	height: 50px;
	margin-top: 10px;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	padding-top: 10px;
	padding-right: 5px;
	padding-left: 15px;
	padding-bottom: 5px;
	text-align: left;
	font-size: 30px;
	font-weight: bold;
	letter-spacing: .5px;
	color: #D2E5F4;	
	/*border-radius: 8px;
	background-color: rgba(86,162,214,.90);*/
}

.screen.movies #menu .major a.back-button {
	/*  position: absolute;
	width: 292px;*/
	font-size: 26px;
	top: 0px;
	text-align: left;
	margin-bottom: 10px;
	color: #E3CB90;	
	/*background-color: rgba(48,138,200,0.70);
	border-radius: 8px;*/
}

.screen.movies #menu .major a.selected {
	background: #217c32;
	color: #FCFCFC;
	-webkit-box-shadow: 3px 3px 5px #020202;
	box-shadow: 3px 3px 5px #020202;	
	/*border-radius: 8px;*/
}

.screen.movies #menu .minor {
	position: absolute;
	width: 840px;
	height: 588px;
	top: 0px;
	left: 450px;
}

.screen.movies #menu .minor .arrow-button {
	display: block;
	position: absolute;
	width: 60px;
	height: 60px;
	top: 500px;
	border-radius: 30px;
	margin: 0;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.2);
}

.screen.movies #menu .minor .arrow-button.sub-page-prev {
	left: -20px;
}

.screen.movies #menu .minor .arrow-button.sub-page-next {
	right: 30px;
}

.screen.movies #menu .minor .arrow-button:hover {
	opacity: 1;
	cursor: pointer;
}

.screen.movies #menu .minor .arrow-left {
	position: absolute;
	display: block;
	top: 50%;
	left: 50%;
	margin: -20px 0 0 -15px;
}

.screen.movies #menu .minor .arrow-right {
	position: absolute;
	display: block;
	top: 50%;
	left: 50%;
	margin: -20px 0 0 -5px;
}

.screen.movies #menu .minor .menu-tab {
	position: absolute;
	display: none;
	width: 800px;
}

.screen.movies #menu .minor .sub-page {
	display: none;
	position: relative;
	width: 100%;
	height: 100%;
}

.screen.movies #menu .minor .sub-header {
	margin-top: 20px;
	height: 50px;
	color: #FFFF92;
}

.screen.movies #menu .minor .sub-footer {
	position: relative;
	height: 50px;
	color: #C0DDA3;
	text-align: center;
	top: 0px;
	left: -20px;
	text-shadow: 2px 2px 6px #000000;
}

.screen.movies #menu .minor .sub-content {
    margin-top: -20px;
	height: 470px;
    overflow: hidden;
    position: relative;
}

.screen.movies #menu .minor .sub-content p {
	margin-bottom: 15px;
	line-height: 28pt;
}

.screen.movies #menu .minor .sub-content .sub-image1 img
,.screen.movies #menu .minor .sub-content .sub-image2 img {
	width: 100%;
	height: 100%;

}

/* Layout 1, text only */
.screen.movies #menu .minor .sub-content.layout1 {
	
}

.screen.movies #menu .minor .sub-content.layout1 .sub-text1{
	display: inline-block;
	width: 100%;
	padding-top: 40px;
}

.subfooter a {
	display: block;
}

a.rightarrow	{
	height: 50px;
	width: 50px;
	margin: 420px 0px 0px 340px;
	position: absolute;
	background: url("../images/arrow_right-ltblue.png") no-repeat;
	background-size: 100% 100%;
}

a.leftarrow	{
	height: 50px;
	width: 50px;
	margin: 420px 0px 0px -400px;
	position: absolute;
	background: url("../images/arrow_left-ltblue.png") no-repeat;
	background-size: 100% 100%;
}



/* movies.noimages */

#movies.noimages #background {
	display: none;
}

#movies.noimages #selection #carousel a img	{
	display: none;
}


.screen.movies #menu .minor .sub-content.layout1 .sub-text2{
	display: inline-block;
	width: 100%;
	padding-top: 10px;
}

.screen.movies #menu .minor .sub-content.layout1 .sub-image1{
	display: none;
}

.screen.movies #menu .minor .sub-content.layout1 .sub-image2{
	display: none;
}

/* Layout 2, text and image side by side */
.screen.movies #menu .minor .sub-content.layout2 {
	
}

.screen.movies #menu .minor .sub-content.layout2 .sub-text1{
	display: inline-block;
	float: left;
	width: 520px;
	padding-top: 40px;
}

.screen.movies #menu .minor .sub-content.layout2 .sub-text2{
	display: none;
}

.screen.movies #menu .minor .sub-content.layout2 .sub-image1{
	display: inline-block;
	float: left;
	width: 246px;
	padding-top: 50px;
	padding-left: 10px;
}

.screen.movies #menu .minor .sub-content.layout2 .sub-image2{
	display: none;
}

/* Layout 3, text and image aligns vertically */
.screen.movies #menu .minor .sub-content.layout3 {
	
}

.screen.movies #menu .minor .sub-content.layout3 .sub-text1{
	float: none;
	height: 210px;
	width: 720px;
	padding-top: 40px;
}

.screen.movies #menu .minor .sub-content.layout3 .sub-text2{
	display: none;
}

.screen.movies #menu .minor .sub-content.layout3 .sub-image1{
	float: none;
	height: 220px;
}

.screen.movies #menu .minor .sub-content.layout3 .sub-image2{
	display: none;
}

/* Layout 4, text 1 on top, text 2 and image at bottom */
.screen.movies #menu .minor .sub-content.layout4 {
	
}

.screen.movies #menu .minor .sub-content.layout4 .sub-text1{
	display: block;
	float: none;
	height: 220px;
	padding-top: 40px;
}

.screen.movies #menu .minor .sub-content.layout4 .sub-text2{
	float: left;
	width: 500px;
	height: 200px;
}

.screen.movies #menu .minor .sub-content.layout4 .sub-image1{
	float: left;
	width: 240px;
	height: 200px;
}

.screen.movies #menu .minor .sub-content.layout4 .sub-image2{
	display: none;
}

/* Layout 5, text overlays image */
.screen.movies #menu .minor .sub-content.layout5 {
	
}

.screen.movies #menu .minor .sub-content.layout5 .sub-text1{
	display: block;
	position: absolute;
	height: 225px;
	width: 760px;
	top: 50px;
	left: 10px;
	padding: 15px;
	z-index: 1;
	background: rgba(0,0,0,0);
}

.screen.movies #menu .minor .sub-content.layout5 .sub-text2{
	display: none;
}

.screen.movies #menu .minor .sub-content.layout5 .sub-image1{
	width: 100%;
	height: 100%;
}

.screen.movies #menu .minor .sub-content.layout5 .sub-image2{
	display: none;
}


/* Layout 6, ONLY an image (map) */
.screen.movies #menu .minor .sub-content.layout6 {
	
}

.screen.movies #menu .minor .sub-content.layout6 .sub-text1{
	display: none;
}

.screen.movies #menu .minor .sub-content.layout6 .sub-text2{
	display: none;
}

.screen.movies #menu .minor .sub-content.layout6 .sub-image1{
	width: 100%;
	height: 100%;
}

.screen.movies #menu .minor .sub-content.layout6 .sub-image2{
	display: none;
}



/* carousel */



.carousel {

	height: 467px;
	width: 1000px;
	margin-left: -35px;
	margin-top: -40px;
	position: absolute;
	display: inline-block;

}


.carousel .carouselTitle {
	background-color: #E1A128; /*217C32*/
	width: 855px;
	position: absolute;
	z-index: 500;
	display: block;
}

.carousel .carouselTitle p {
	width: 100%;
	line-height: 100%;
	padding-bottom: 20px;
	margin: 10px 0px 0px 0px;
	font-weight: bold;
	font-size: 36px;
	color: white;
	text-align: center;
}

.carousel .carouselOverlay {
	border: 25px solid #E1A128;
	height: 345px;
	width: 245px;
	margin: 0px 0px 0px 30px;
	display: none;
	position: absolute;
	z-index: 500;
}

.carousel .carouselPosters {
	height: 400px;
	width: 858px;
	margin: 45px 0px 0px 0px;
	position: absolute;
	overflow-x: hidden !important;
	z-index: 495;
	
}

.carousel .carouselPosters img {
    width: 33%;
    height: 1px;
    width: 1px;
    margin: 75px 0px 0px 0px;
    padding: 0px;
    float: left;
    position: relative;
    display: none;
    padding: 25px 25px 25px 25px;

}

.carousel .carouselPosters a img {
    background: url(../images/mov_poster_BK1.png) top center no-repeat;
    /*height: 300px;
    width: 225px; (before box shadow)*/
	height: 315px;
    width: 255px;
    margin: 35px 15px 15px 15px;
    display: block;
    padding: 15px 15px 1px 15px;
}

.carousel .carouselPosters a.active img {
	background: #E1A128; /*217C32*/
	height: 380px;
	width: 285px;
	margin: 0px 0px 0px 0px;
	display: block;
	padding: 50px 30px 30px 30px;
	border-radius: 0 0 8px 8px / 0 0 8px 8px;
}


.carousel .carouselPosters img.blank {
    /*background: url(../images/mov_poster_BK0.png) top center no-repeat;*/
}
.carousel .carouselMessage {
	height: 40px;
	width: 800px;
	margin: 420px 0px 0px 0px;
	display: block;
}

.carousel .carouselMessage p {
	width: 100%;
	margin: 0px auto 0px auto;
	font-weight: normal;
	font-size: 30px;
	color: white;
	text-align: center;
}
