.screen.secondary .minor ul,
.screen.secondary .minor li {
    padding: 0;
    margin: 0;
}
.screen.secondary .minor ul {
    margin: 10px 0 0 30px;
}
.screen.secondary .minor li {
    list-style-position: outside;
    padding: 0 20px 0 0;
    margin: 2px 0 0;
    text-indent: 0;
}