.screen.webpage #header {
    width: 100%;
    height: 121px;
    position: absolute;
    background: url(../images/bk_secondary_gradient.png) top left no-repeat;
    text-align: center;
}

.screen.webpage #header #iframeheader {
    height: 60px;
    top: 35px;
    left: 94px;
    position: absolute;
    display: inline-block;
    float: left;
}

.screen.webpage #header #iframeheader p {
    color: #003768;
    text-shadow: 0 0;
}

.screen.webpage #frame-wrapper {
    position: absolute;
    left: 0;
    top: 80px;
    width: 100%;
    height: 640px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.screen.webpage iframe#page-iframe {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 640px;
    border: none;
}

.screen.webpage ::-webkit-scrollbar {
    /*display: none;*/
}

.screen.webpage #mask {
    position:absolute;
    width: 200px;
    height: 200px;
    left: 521px;
    top: 284px;
    background-color: #000000;
    opacity: 0.5;
    text-align: center;
    border-radius:8px;
}

.screen.webpage #mask #icon {
    position: absolute;
    top: 36px;
    left: 36px;
    background: url(../images/loading18.gif) center center no-repeat;
    width: 128px;
    height: 128px;
}

.screen.webpage #close {
    right: 46px;
    top: 0px;
    opacity: 0.8;
}